<h1>Stats</h1>

<h4>Contacts by user</h4>

	<%= @contacts_by_user %>


<br />
By type of parent communication

By topic

By date month

By date semester

<h4>Total number of contacts</h4>
----> <%= @contacts.count %>